- var active = "friends.html"
doctype html
html(lang="en")
    head
        include ../components/head
        title Friends
    body
        .page.d-flex
            include ../components/aside
            .content.w-full
                include ../components/header
                h1.p-relative Friends
                main
                    .friends-page.m-20.d-grid.gap-20
                        <!-- Start friend Box -->
                        .friend.bg-white.p-20.rad-6.p-relative
                            .contact
                                i.fa-solid.fa-phone.mr-5
                                i.fa-regular.fa-envelope
                            .txt-c
                                img.rad-half.mt-10.mb-10.w-100.h-100(src="imgs/friend-01.jpg" alt="Friend 01")
                                h4.m-0 Ahmed Hesham
                                p.mt-5.mb-0.c-grey.fs-13 JavaScript Developer
                            .icons.fs-14.p-relative
                                .mb-10
                                    i.fa-regular.fa-face-smile.fa-fw
                                    span
                                    |  99 Friends
                                .mb-10
                                    i.fa-solid.fa-code-commit.fa-fw
                                    span
                                    |  15 Projects
                                div
                                    i.fa-regular.fa-newspaper.fa-fw
                                    span
                                    |  25 Articles
                                span.vip.fw-bold.c-orange VIP
                            .info.between-flex.fs-13
                                span.c-grey Joined 25/12/2022
                                div
                                    a(href="profile.html").btn-shape.bg-blue.c-white.mr-5 Profile
                                    a(href="#").btn-shape.bg-red.c-white Remove
                        <!-- End friend Box -->
                        <!-- Start friend Box -->
                        .friend.bg-white.p-20.rad-6.p-relative
                            .contact
                                i.fa-solid.fa-phone.mr-5
                                i.fa-regular.fa-envelope
                            .txt-c
                                img.rad-half.mt-10.mb-10.w-100.h-100(src="imgs/friend-02.jpg" alt="Friend 02")
                                h4.m-0 Ahmed Hesham
                                p.mt-5.mb-0.c-grey.fs-13 Cloud Developer
                            .icons.fs-14.p-relative
                                .mb-10
                                    i.fa-regular.fa-face-smile.fa-fw
                                    span
                                    |  99 Friends
                                .mb-10
                                    i.fa-solid.fa-code-commit.fa-fw
                                    span
                                    |  15 Projects
                                div
                                    i.fa-regular.fa-newspaper.fa-fw
                                    span
                                    |  25 Articles
                            .info.between-flex.fs-13
                                span.c-grey Joined 25/12/2022
                                div
                                    a(href="profile.html").btn-shape.bg-blue.c-white.mr-5 Profile
                                    a(href="#").btn-shape.bg-red.c-white Remove
                        <!-- End friend Box -->
                        <!-- Start friend Box -->
                        .friend.bg-white.p-20.rad-6.p-relative
                            .contact
                                i.fa-solid.fa-phone.mr-5
                                i.fa-regular.fa-envelope
                            .txt-c
                                img.rad-half.mt-10.mb-10.w-100.h-100(src="imgs/friend-03.jpg" alt="Friend 03")
                                h4.m-0 Ahmed Hesham
                                p.mt-5.mb-0.c-grey.fs-13 Mobile Developer
                            .icons.fs-14.p-relative
                                .mb-10
                                    i.fa-regular.fa-face-smile.fa-fw
                                    span
                                    |  99 Friends
                                .mb-10
                                    i.fa-solid.fa-code-commit.fa-fw
                                    span
                                    |  15 Projects
                                div
                                    i.fa-regular.fa-newspaper.fa-fw
                                    span
                                    |  25 Articles
                            .info.between-flex.fs-13
                                span.c-grey Joined 25/12/2022
                                div
                                    a(href="profile.html").btn-shape.bg-blue.c-white.mr-5 Profile
                                    a(href="#").btn-shape.bg-red.c-white Remove
                        <!-- End friend Box -->
                        <!-- Start friend Box -->
                        .friend.bg-white.p-20.rad-6.p-relative
                            .contact
                                i.fa-solid.fa-phone.mr-5
                                i.fa-regular.fa-envelope
                            .txt-c
                                img.rad-half.mt-10.mb-10.w-100.h-100(src="imgs/friend-04.jpg" alt="Friend 04")
                                h4.m-0 Ahmed Hesham
                                p.mt-5.mb-0.c-grey.fs-13 Back-End Developer
                            .icons.fs-14.p-relative
                                .mb-10
                                    i.fa-regular.fa-face-smile.fa-fw
                                    span
                                    |  99 Friends
                                .mb-10
                                    i.fa-solid.fa-code-commit.fa-fw
                                    span
                                    |  15 Projects
                                div
                                    i.fa-regular.fa-newspaper.fa-fw
                                    span
                                    |  25 Articles
                            .info.between-flex.fs-13
                                span.c-grey Joined 25/12/2022
                                div
                                    a(href="profile.html").btn-shape.bg-blue.c-white.mr-5 Profile
                                    a(href="#").btn-shape.bg-red.c-white Remove
                        <!-- End friend Box -->
                        <!-- Start friend Box -->
                        .friend.bg-white.p-20.rad-6.p-relative
                            .contact
                                i.fa-solid.fa-phone.mr-5
                                i.fa-regular.fa-envelope
                            .txt-c
                                img.rad-half.mt-10.mb-10.w-100.h-100(src="imgs/friend-05.jpg" alt="Friend 05")
                                h4.m-0 Ahmed Hesham
                                p.mt-5.mb-0.c-grey.fs-13 Algorithm Developer
                            .icons.fs-14.p-relative
                                .mb-10
                                    i.fa-regular.fa-face-smile.fa-fw
                                    span
                                    |  99 Friends
                                .mb-10
                                    i.fa-solid.fa-code-commit.fa-fw
                                    span
                                    |  15 Projects
                                div
                                    i.fa-regular.fa-newspaper.fa-fw
                                    span
                                    |  25 Articles
                            .info.between-flex.fs-13
                                span.c-grey Joined 25/12/2022
                                div
                                    a(href="profile.html").btn-shape.bg-blue.c-white.mr-5 Profile
                                    a(href="#").btn-shape.bg-red.c-white Remove
                        <!-- End friend Box -->
                        <!-- Start friend Box -->
                        .friend.bg-white.p-20.rad-6.p-relative
                            .contact
                                i.fa-solid.fa-phone.mr-5
                                i.fa-regular.fa-envelope
                            .txt-c
                                img.rad-half.mt-10.mb-10.w-100.h-100(src="imgs/friend-01.jpg" alt="Friend 01")
                                h4.m-0 Ahmed Hesham
                                p.mt-5.mb-0.c-grey.fs-13 Back-End Developer
                            .icons.fs-14.p-relative
                                .mb-10
                                    i.fa-regular.fa-face-smile.fa-fw
                                    span
                                    |  99 Friends
                                .mb-10
                                    i.fa-solid.fa-code-commit.fa-fw
                                    span
                                    |  15 Projects
                                div
                                    i.fa-regular.fa-newspaper.fa-fw
                                    span
                                    |  25 Articles
                            .info.between-flex.fs-13
                                span.c-grey Joined 25/12/2022
                                div
                                    a(href="profile.html").btn-shape.bg-blue.c-white.mr-5 Profile
                                    a(href="#").btn-shape.bg-red.c-white Remove
                        <!-- End friend Box -->
                        <!-- Start friend Box -->
                        .friend.bg-white.p-20.rad-6.p-relative
                            .contact
                                i.fa-solid.fa-phone.mr-5
                                i.fa-regular.fa-envelope
                            .txt-c
                                img.rad-half.mt-10.mb-10.w-100.h-100(src="imgs/friend-02.jpg" alt="Friend 02")
                                h4.m-0 Ahmed Hesham
                                p.mt-5.mb-0.c-grey.fs-13 Cloud Developer
                            .icons.fs-14.p-relative
                                .mb-10
                                    i.fa-regular.fa-face-smile.fa-fw
                                    span
                                    |  99 Friends
                                .mb-10
                                    i.fa-solid.fa-code-commit.fa-fw
                                    span
                                    |  15 Projects
                                div
                                    i.fa-regular.fa-newspaper.fa-fw
                                    span
                                    |  25 Articles
                            .info.between-flex.fs-13
                                span.c-grey Joined 25/12/2022
                                div
                                    a(href="profile.html").btn-shape.bg-blue.c-white.mr-5 Profile
                                    a(href="#").btn-shape.bg-red.c-white Remove
                        <!-- End friend Box -->
                        <!-- Start friend Box -->
                        .friend.bg-white.p-20.rad-6.p-relative
                            .contact
                                i.fa-solid.fa-phone.mr-5
                                i.fa-regular.fa-envelope
                            .txt-c
                                img.rad-half.mt-10.mb-10.w-100.h-100(src="imgs/friend-03.jpg" alt="Friend 03")
                                h4.m-0 Ahmed Hesham
                                p.mt-5.mb-0.c-grey.fs-13 Content Creator
                            .icons.fs-14.p-relative
                                .mb-10
                                    i.fa-regular.fa-face-smile.fa-fw
                                    span
                                    |  99 Friends
                                .mb-10
                                    i.fa-solid.fa-code-commit.fa-fw
                                    span
                                    |  15 Projects
                                div
                                    i.fa-regular.fa-newspaper.fa-fw
                                    span
                                    |  25 Articles
                                span.vip.fw-bold.c-orange VIP
                            .info.between-flex.fs-13
                                span.c-grey Joined 25/12/2022
                                div
                                    a(href="profile.html").btn-shape.bg-blue.c-white.mr-5 Profile
                                    a(href="#").btn-shape.bg-red.c-white Remove
                        <!-- End friend Box -->
                        <!-- Start friend Box -->
                        .friend.bg-white.p-20.rad-6.p-relative
                            .contact
                                i.fa-solid.fa-phone.mr-5
                                i.fa-regular.fa-envelope
                            .txt-c
                                img.rad-half.mt-10.mb-10.w-100.h-100(src="imgs/friend-04.jpg" alt="Friend 04")
                                h4.m-0 Ahmed Hesham
                                p.mt-5.mb-0.c-grey.fs-13 JavaScript Developer
                            .icons.fs-14.p-relative
                                .mb-10
                                    i.fa-regular.fa-face-smile.fa-fw
                                    span
                                    |  99 Friends
                                .mb-10
                                    i.fa-solid.fa-code-commit.fa-fw
                                    span
                                    |  15 Projects
                                div
                                    i.fa-regular.fa-newspaper.fa-fw
                                    span
                                    |  25 Articles
                                span.vip.fw-bold.c-orange VIP
                            .info.between-flex.fs-13
                                span.c-grey Joined 25/12/2022
                                div
                                    a(href="profile.html").btn-shape.bg-blue.c-white.mr-5 Profile
                                    a(href="#").btn-shape.bg-red.c-white Remove
                        <!-- End friend Box -->
                        <!-- Start friend Box -->
                        .friend.bg-white.p-20.rad-6.p-relative
                            .contact
                                i.fa-solid.fa-phone.mr-5
                                i.fa-regular.fa-envelope
                            .txt-c
                                img.rad-half.mt-10.mb-10.w-100.h-100(src="imgs/friend-05.jpg" alt="Friend 05")
                                h4.m-0 Ahmed Hesham
                                p.mt-5.mb-0.c-grey.fs-13 Front-End Developer
                            .icons.fs-14.p-relative
                                .mb-10
                                    i.fa-regular.fa-face-smile.fa-fw
                                    span
                                    |  99 Friends
                                .mb-10
                                    i.fa-solid.fa-code-commit.fa-fw
                                    span
                                    |  15 Projects
                                div
                                    i.fa-regular.fa-newspaper.fa-fw
                                    span
                                    |  25 Articles
                            .info.between-flex.fs-13
                                span.c-grey Joined 25/12/2022
                                div
                                    a(href="profile.html").btn-shape.bg-blue.c-white.mr-5 Profile
                                    a(href="#").btn-shape.bg-red.c-white Remove
                        <!-- End friend Box -->