- var active = "plans.html"
doctype html
html(lang="en")
    head
        include ../components/head
        title Plans
    body
        .page.d-flex
            include ../components/aside
            .content.w-full
                include ../components/header
                h1.p-relative Plans
                main
                    .plans-page.d-grid.m-20.gap-20
                        <!-- Start Plan Box -->
                        .plan.green.bg-white.p-20
                            .top.txt-c.bg-green.p-20
                                h2.m-0.c-white Free 
                                .price.c-white 
                                    span $
                                    |0.00
                            ul
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Access All Text Lessons
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Access All Videos Lessons
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Appear On Leaderboard
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-xmark.fa-fw
                                    span Browse Content Without Ads
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-xmark.fa-fw
                                    span Access All Assignments
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-xmark.fa-fw
                                    span Get Daily Prizes
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-xmark.fa-fw
                                    span Earn Certificate
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-xmark.fa-fw
                                    span 1 GB Space For Hosting Files
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-xmark.fa-fw
                                    span Access Badge System
                                    i.fa-solid.fa-circle-info.help
                            a(href="#").btn-shape.bg-green.c-white.d-block.w-fit Join
                        <!-- End Plan Box -->
                        <!-- Start Plan Box -->
                        .plan.blue.bg-white.p-20
                            .top.txt-c.bg-blue.p-20
                                h2.m-0.c-white Basic 
                                .price.c-white 
                                    span $
                                    |7.99
                            ul
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Access All Text Lessons
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Access All Videos Lessons
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Appear On Leaderboard
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Browse Content Without Ads
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Access All Assignments
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Get Daily Prizes
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Earn Certificate
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-xmark.fa-fw
                                    span 1 GB Space For Hosting Files
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-xmark.fa-fw
                                    span Access Badge System
                                    i.fa-solid.fa-circle-info.help
                            a(href="#").btn-shape.bg-blue.c-white.d-block.w-fit Join
                        <!-- End Plan Box -->
                        <!-- Start Plan Box -->
                        .plan.orange.bg-white.p-20
                            .top.txt-c.bg-orange.p-20
                                h2.m-0.c-white Premium 
                                .price.c-white 
                                    span $
                                    |19.99
                            ul
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Access All Text Lessons
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Access All Videos Lessons
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Appear On Leaderboard
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Browse Content Without Ads
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Access All Assignments
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Get Daily Prizes
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Earn Certificate
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span 1 GB Space For Hosting Files
                                    i.fa-solid.fa-circle-info.help
                                li
                                    i.fa-solid.fa-check.fa-fw.yes
                                    span Access Badge System
                                    i.fa-solid.fa-circle-info.help
                            p.c-grey.m-0.txt-c This Is Your Current Plan
                        <!-- End Plan Box -->