// Import Mixins
@use "../helpers/mixins" as *;

/*=======================
    Start Query Friends (max-width: 767px and min-width: 767px)
=========================*/

// max-width: 767px
@include breakpoints(mobile) {
  .friends-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

/*=======================
    End Query Friends
=========================*/
