@use "../helpers/mixins" as *;

/*====================
    Start Animations
======================*/

@include keyF(trash-animate) {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@include keyF(change-color) {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: #fff;
  }
}

@keyframes go-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

/*====================
    End Animations
======================*/
